@{
    ViewData["Title"] = "Home Page";
}

<div class="p-5 text-center bg-body-tertiary rounded-3">
    <h1 class="display-1 fw-bold">ProjectMovie</h1>
    <hr />
    <h2 class="display-5 fw-bold">Welcome to ProjectMovie</h2>
    <form asp-controller="Movies" asp-action="Index">
        <input type="submit" value="Go to Movies" class="btn btn-primary btn-lg" />
    </form>
</div>

